@page "/FailurePolicy/UnchangedSubdirectory/Page"

<h1>Unchanged Subdirectory Page</h1>
<p>You shouldn't be able to see this page because FailurePolicy/UnchangedSubdirectory doesn't declare a different rule and therefore inherits <code>Authorization</code> rules from the top-level <code>_Imports.razor</code>!</p>
