@page "/FailurePolicy/ChangedSubdirectory/Page"

<h1>Changed Subdirectory Page</h1>
<p>You can see this page because FailurePolicy/ChangedSubdirectory has a different authorisation rule declared in a separate <code>_Imports.razor</code>!</p>
