@page "/Admin/UserSpecialCase"

<h1>User Hub</h1>
<p>You can see this as a user even though it <i>looks</i> like it's in the admin directory; in actuality we've declared the page as <code>@@page "/Admin/UserSpecialCase"</code> even though it exists in the user directory, meaning that it uses the <code>_Imports.razor</code> declared there!</p>