@page "/FailurePolicy/PolicyChangedExplicitly"
@attribute [Authorize(Policy = Policy.SuccessPolicy)]

<h1>Policy Changed Explicitly</h1>
<p>You shouldn't be able to see this page even though it specifies @Policy.SuccessPolicy explicitly; it is still inheriting @Policy.FailurePolicy from <code>_Imports.razor</code> in the FailurePolicy directory!</p>