<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Policy Tests</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FailurePolicy">
                <span class="oi oi-x" aria-hidden="true"></span> FailurePolicy
            </NavLink>
            <div class="nav flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="FailurePolicy/PolicyChangedExplicitly">
                        <span class="oi oi-document" aria-hidden="true"></span> Policy Changed Explicitly
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="FailurePolicy/PageDifferentToLocation">
                        <span class="oi oi-document" aria-hidden="true"></span> Page Different to Location
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="FailurePolicy/Subdirectory">
                        <span class="oi oi-folder" aria-hidden="true"></span> Subdirectory
                    </NavLink>
                    <div class="nav flex-column">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="FailurePolicy/Subdirectory/Subdirectory1">
                                <span class="oi oi-document" aria-hidden="true"></span> Subdirectory 1
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="FailurePolicy/Subdirectory/Subdirectory2">
                                <span class="oi oi-document" aria-hidden="true"></span> Subdirectory 2
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SuccessPolicy">
                <span class="oi oi-check" aria-hidden="true"></span> SuccessPolicy
            </NavLink>
            <div class="nav flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="SuccessPolicy/MultiplePolicies">
                        <span class="oi oi-plus" aria-hidden="true"></span> Multiple Policies
                    </NavLink>
                </div>
            </div>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Anonymous">
                <span class="oi oi-eye" aria-hidden="true"></span> Anonymous
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}