@page "/FailurePolicy/Subdirectory/Subdirectory1"

<h1>Subdirectory 1</h1>
<p>You can see this page because FailurePolicy/Subdirectory has a different authorisation rule declared in a separate <code>_Imports.razor</code>!</p>
